<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SciMet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SciMet.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        SciMet
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-items" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="active nav-item">
                            <a class="nav-link text-dark" href="/Index#mission-id">SỨ MỆNH & TẦM NHÌN</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/About/Index">VỀ CHÚNG TÔI</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/Join/Index">
                                THAM GIA
                            </a>
                            @* <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item btn disabled" href="/Students/Index">Dành Cho Học Sinh</a></li>
                                <li><a class="dropdown-item" href="https://docs.google.com/forms/d/1LS0q-EgP8zn9mclGrmyNf35g4cNFIWt3FBay5UCe2Sw/prefill" target="_blank">Dành Cho Nhà Khoa Học</a></li>
                            </ul> *@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">TÀI LIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Scientists/Index">NHÀ KHOA HỌC</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" href="/Contact/Index">LIÊN HỆ</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="my-container">@RenderBody()</div>
    
    @* <footer class="border-top footer text-muted footer">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class=" text-center p-4 pb-0">
            <a href="#" class="fa fa-facebook"></a>
        </div>
        <div class="container text-center p-3">
            &copy; 2022 - SciMet - All Rights Reserved
        </div>
    </footer> *@
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Liên Hệ</h3>
                        <ul>
                            <li><a href = "mailto: SciMet.organization@gmail.com">Email: SciMet.organization@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        
                    </div>
                    <div class="col-md-6 item text">
                        
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/SciMet-108668035124782" target="_blank"><i class="fa fa-facebook"></i></a></div>
                </div>
                <p class="copyright">&copy; 2022 - SciMet - All Rights Reserved</p>
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>