@page
@model IndexModel
@{
    ViewData["Title"] = "Members";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/members.css" asp-append-version="true" />



@* Ban Thanh Lap *@
<div class="members" id="banthanhlap">
    <div class="row header p-3 justify-content-center">Ban Thành Lập</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="card text-center border-0">
            <img src="~/img/ngan-modified.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title non-header">Vũ Khánh Ngân</h5>
                <p class="card-text non-header">Trợ lý nghiên cứu tại trường Y đại học California tại San Francisco (UCSF), Mỹ</p>
            </div>
        </div>
        <div class="card text-center border-0">
            <img src="~/img/ngan-modified.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title non-header">Phạm Thị Hồng Giang</h5>
                <p class="card-text non-header">Trợ lý nghiên cứu tại trường Y đại học Yale, Mỹ </p>
            </div>
        </div>
    </div>
</div>

<div class="members" id="bandieuhanh">
    <div class="row header p-3 justify-content-center">Ban Điều Hành</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="card text-center border-0">
            <img src="~/img/duy-modified.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title non-header">Nguyễn Đức Duy</h5>
                <p class="card-text non-header">Trợ lý nghiên cứu tại trường Y đại học Cornell, Mỹ</p>
            </div>
        </div>
        <div class="card text-center border-0">
            <img src="~/img/Na-modified.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title non-header">Nguyễn Phương Minh</h5>
                <p class="card-text non-header">Học sinh trường THPT chuyên Lê Hồng Phong, Chuyên Sinh</p>
            </div>
        </div>
    </div>
</div>
