@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/join.css" asp-append-version="true" />


@* Join *@

<div class="join">
    <div class="row header p-3 justify-content-center">Tham gia với chúng tôi</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="row">
            <div class="card col-md col-sm-12 text-center c1" >
                <div class="card-body">
                    <h5 class="card-title">Nhà khoa học</h5>
                    <p class="card-text non-header">Gia nhập ngay team SciMet để chia sẻ nghiên cứu của bạn và giúp giới trẻ VN hiểu hơn về các ngành học</p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSefaP-T3NxbMWe-KJ9gQ5fQcbdOKMIDe6G4NpVpGPyb6RdSKA/viewform" target="_blank"  class="btn btn-primary">ĐĂNG KÝ</a>
                </div>
            </div>
            <div class="card col-md col-sm-12 text-center c2">
                <div class="card-body ">
                    <h5 class="card-title">Người tham gia</h5>
                    <p class="card-text non-header">Hãy chọn chủ đề bạn yêu thích, SciMet sẽ giúp bạn kết nối với chuyên gia</p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZURZ7XVYItC1yiBltb7XAHNnQ3IYznUwrRZ8uuco7wdIUSg/viewform" target="_blank" class="btn btn-primary">ĐĂNG KÝ</a>
                </div>
            </div>
            <div class="card col-md col-sm-12 text-center rightmost c3">
                <div class="card-body text-center">
                    <h5 class="card-title">Tổ chức/ câu lạc bộ</h5>
                    <p class="card-text non-header">SciMet hợp tác thông qua cung cấp những hoạt động và tài nguyên về STEM</p>
                    <a href="#" class="btn btn-primary" style="margin-top:2%">ĐĂNG KÝ</a>
                </div>
            </div>
        </div>
    </div>
</div>