@page
@model IndexModel
@{
    ViewData["Title"] = "Students";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/students.css" asp-append-version="true" />



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            Container Left
        </div>
        <div class="col-lg-6">
            Container Right
        </div>
    </div>
</div>