@page
@model IndexModel
@{
    ViewData["Title"] = "Vision";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/vision.css" asp-append-version="true" />



@* Vision *@

<div class="vision">
    <div class="row header p-3 justify-content-center">Tầm nhìn</div>
    <div class="row body">
        <div class="image col-md-4 col-sm-12">
            <img src="~/img/vision1.png" class="card-img-top" alt="..." id="image1">
        </div>
        <div class="text col-md col-sm-12">
            <div class="paragraph">
                <div class="title">Thúc đẩy một thế hệ trẻ Việt Nam đam mê nghiên cứu khoa học và được định hướng từ sớm</div>
                <p class="non-header">SciMet tin rằng dù bạn xuất phát từ bất kì hoàn cảnh hay môi trường nào, chỉ cần có đam mê bạn đều có thể theo đuổi nghiên cứu khoa học. SciMet mong muốn giúp thế hệ trẻ Việt Nam được cọ sát từ sớm với nghiên cứu khoa học. Qua đó tạo nên tảng vững chắc xây dựng những thế hệ nhà khoa học tương lai góp phần đưa Việt Nam lên bản đồ khoa học thế giới.</p>
            </div>
            <div class="paragraph">
                <div class="title">Đưa kiến thức khoa học trở nên dễ hiểu và gần gũi hơn tới công chúng</div>
                <p class="non-header">SciMet mong muốn đưa kiến thức khoa học trở nên dễ hiểu và tới gần tới công chúng. Từ đó, xóa bỏ định kiến của mọi người về sự khô khan của khoa học và góp phần ngăn chặn tin tức phản khoa học tràn lan.</p>
            </div>
            <div class="paragraph">
                <div class="title">Xây dựng công cụ hỗ trợ nhà trường và phụ huynh trong giáo dục STEM</div>
                <p class="non-header">SciMet hy vọng có thể sớm đưa các buổi nói chuyện với các nhà khoa học và các tiết học khoa học. Kiến thức khoa học sẽ không còn là những trang sách khô khan. Thay vào đó, học sinh có cơ hội nói chuyện trực tiếp với chuyên gia của chủ đề các em đang học.Các em có thể đặt câu hỏi trực tiếp với chuyên gia và hiểu hơn về tính ứng dụng thực tiễn của nội dung học.</p>
            </div>
            <div class="paragraph">
                <div class="title">Xây dựng một mạng lưới kết nối các nhà khoa học Việt Nam thuộc mọi lĩnh vực trên toàn thế giới</div>
                <p class="non-header">SciMet mong muốn xây dựng một mạng lưới kết nối những nhà nghiên cứu Việt Nam đang học và là việc trên khắp thế giới có chung niềm đam mê truyền lửa và nuôi dưỡng những thế hệ tương lai.</p>
            </div>
        </div>
    </div>
</div>