.non-header{
    color: #404040;
    font-size: 1.1rem;
    font-weight: 300;
}
/* ------------------------------------join------------------------------------- */
.join{
    position: relative;
    padding: 2%;
}

.join .header{
    font-weight: 600;
}


.join .header::after {
    content: "";
    position: absolute;
    border-top: 2px solid rgb(199, 199, 199);
    left: 45%;
    bottom: 0;
    width: 10%;
    height: 0px;
}

.join .card{
    padding: 4%;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-radius: 0%;
    background-size: 70%;
    border-color: white;
    background-blend-mode: darken;
}

.join .c1{
    background-image: linear-gradient(rgba(7, 7, 7, 0.527),rgba(7, 7, 7, 0.5)), url('/img/join1.jpg');
}
.join .c2{
    background-image: linear-gradient(rgba(7, 7, 7, 0.527),rgba(7, 7, 7, 0.5)), url('/img/join2.png');
}
.join .c3{
    background-image: linear-gradient(rgba(7, 7, 7, 0.527),rgba(7, 7, 7, 0.5)), url('/img/join3.png');
}

.join .card-title{
    font-size: 2rem;
    padding-top: 1%;
    padding-bottom: 1.5%;
    color: var(--theme);
    font-weight: 400;
    color: white;
}
.join .rightmost{
    border-right: none;
}


.join .card-text{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10%;
    color: white;
}
.join .card a{
    background-color: var(--theme);
    border-color: var(--theme);
    font-size: 0.9rem;
}

.join .btn{
    padding: 5%;
    border-radius: 0% !important;
    margin-top: 3%;
}

@media only screen and (max-width: 800px) {
    .join .card{
        border-right: none;
    }
}

