.row {
    width: 100%;
    scroll-behavior: smooth;
}
:root{
    /* --theme: #264661 */
    --theme: #18629A
}
.header{
    position: relative;
    font-size: 3.2rem;
    color: var(--theme);
}
/*---------------Style Introduction-------------*/
.introduction{
    height: 100%;
    width: 100%;
    background-color: var(--theme);
    /* styling welcome statement */
    padding: 3%;
}

.introduction-content{
    position:relative;
    padding-left: 10%;
}

.introduction-content .header{
    font-size: 4.7rem;
    color: aliceblue;
}

.introduction-content .non-header{
    font-size: 1.5rem;
    font-weight: 450;
    font-style: italic;
    color: aliceblue;

}

/* .introduction-image{
    display: block;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    width: 200px;
    height: 400px;
    max-width: 80%;
    max-height: 80%;

    border: 5px solid rgb(255, 254, 254);
} */

.cover-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30%;
    width: 110%;
    height: auto;
    padding: 10%;
}
.needwhite{
    background-color: white;
    border-radius: 100%;
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .introduction-content .header {
        font-size: 2.5rem;
    }
    .introduction-content .non-header {
        font-size: 1.3rem;
    }
}
/*--------------------------Mission-----------------------*/
.mission{
    position: relative;
}
.mission .header{
    position: relative;
    font-size: 3.2rem;
    color: var(--theme);
}

.mission .header::after {
    content: "";
    position: absolute;
    border-top: 2px solid rgb(199, 199, 199);
    left: 45%;
    bottom: 0;
    width: 10%;
    height: 0px;
}

.mission .card{
    width: 20rem;
}

.mission .card-title{
    font-size: 2rem;
    color: rgb(69, 69, 69);
}

.mission .card-text{
    color: #7a7a7a;
}

/*--------------------------About-us-----------------------*/

.about-us{
    position: relative;
    padding: 2%;
}
.about-us .header{
    position: relative;
    font-size: 3.3rem;
    color: var(--theme);
}

.about-us .header::after {
    content: "";
    position: absolute;
    border-top: 2px solid rgb(199, 199, 199);
    left: 45%;
    bottom: 0;
    width: 10%;
    height: 0px;
}

.about-us .card{
    width: 45rem;   
    margin-left: 8%;
}

.about-us .card-text{
    color: #404040;
}

.about-us .non-header{
    font-size: 1.3rem;
    font-weight: 200;
}

.about-us .button{
    background-color: var(--theme);
    border-color: var(--theme);
    margin-top: 10%;
}

.about-us .button{
    padding: 3%;
    border-radius: 0%;
    margin-left: -80%;
}

/*--------------------------Program-----------------------*/

.program{
    position: relative;
    background-color: #F8F8F8;
    padding: 2%;
}
.program .header{
    position: relative;
    font-size: 3.2rem;
    color: var(--theme);
}

.program .header::after {
    content: "";
    position: absolute;
    border-top: 2px solid rgb(199, 199, 199);
    left: 45%;
    bottom: 0;
    width: 10%;
    height: 0px;
}

.program .card{
    width: 50rem;
    background-color: #f8f8f8;
}

.program .card-title{
    font-size: 2rem;
    padding-top: 1%;
    padding-bottom: 1.5%;
    color: var(--theme);
    font-weight: 400;
}

.program .card-text{
    color: #404040;
    font-size: 1.2rem;
    font-weight: 300;
}

.program .button a{
    background-color: var(--theme);
    border-color: var(--theme);
    font-size: 0.9rem;
}

.program .button{
    padding: 4%;
    margin-top: -3%;
    border-radius: 0% !important;
}

.program .card-bottom{
    width:35rem;
}

.program #image1{
    width: 140%;
    object-fit: cover;
}

.program #image2{
    height: 335px;
    object-fit: cover;
}

/*--------------------------Subsciption-----------------------*/
.subscription{
    position: relative;
    padding: 5%;
    margin-top: -3%;
}

.subscription .header{
    font-size: 3rem;
    padding-top: 1%;
    padding-bottom: 1.5%;
    color: var(--theme);
    font-weight: 700;
}

.subscription .non-header{
    font-size: 1.1rem;
    font-weight: 300;
    color: #5c5c5c;
}
.subscription .box{
    width: 50%;
    height: 50px;
    margin-top: 0.5%;
}
.subscription .button{
    border-radius: 0% !important;
    height: 48px;
    width: 100px;
    background-color: var(--theme);
    border-color: var(--theme);
    border: none;
    margin-left: 2%;
    color: white;
    margin-top: 0.5%;
}

.subscription .row{
    padding: 1%;
}