
/*-----------------------------Scientists---------------------------------*/

.scientists .header{
    position: relative;
    padding: 2%;
    font-weight: 600;
    margin-top: 2%;
}

.scientists .header::after {
    content: "";
    position: absolute;
    border-top: 2px solid rgb(199, 199, 199);
    left: 45%;
    bottom: 0;
    width: 10%;
    height: 0px;
}

.scientists .table-container{
    padding: 3%;
}
.scientists .table{
    padding: 3%;
    height: 20vh;
}

@media only screen and (max-width: 600px) {
    .scientists .header{
        font-size:2rem;
    }
}

