@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />

@* Introduction *@

<div class = "introduction" id="introduction">
    <div class = "introduction-content row">
        <div class="col-2 needwhite"><img class="cover-img" src="~/img/LOGO.png" alt=""></div>
        <div class="col"><img class="cover-img" src="~/img/cover11.png" alt=""></div>
        <div class="col"><img class="cover-img" src="~/img/cover2.png" alt=""></div>
        <div class="col"><img class="cover-img" src="~/img/cover3.png" alt=""></div>


    </div>
    <div class = "introduction-content row">
        <div class="header col">.......</div>
        <div class="row non-header">Trò Chuyện Trực Tiếp Với Các Nhà Nghiên Cứu Thuộc Mọi Lĩnh Vực</div>
    </div>
</div>

@* Mission *@
<div class="mission" id="mission-id">
    <div class="row header p-3 justify-content-center">Nhiệm Vụ</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="card text-center border-0">
            <div class="card-body">
                <h5 class="card-title non-header">Sứ Mệnh</h5>
                <p class="card-text non-header">Xây dựng hệ thống kết nối những cá nhân, tập thể với các nhà khoa học trong ngành. Thúc đẩy định hướng nghề nghiệp các ngành STEM tại Việt Nam</p>
            </div>
        </div>
        <div class="card text-center border-0">
            <div class="card-body">
                <h5 class="card-title non-header">Tầm nhìn</h5>
                <p class="card-text non-header">Xây dựng một công cụ hỗ trợ nhà trường và phụ huynh trong giáo dục STEM. Phát triển truyền thông khoa học, đưa kiến thức khoa học trở nên dễ hiểu và gần gũi hơn tới công chú</p>
            </div>
        </div>
    </div>
</div>

@* About us *@

<div class="about-us" id="about-us-id">
    <div class="row header p-3 justify-content-center">Về Chúng Tôi</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="card text-center border-0">
            <div class="card-body">
                <p class="card-text non-header">SciMet được thành lập bởi những bạn trẻ Việt Nam có chung niềm đam mê với khoa học và khao khát được lan tỏa niềm đam mê đó tới tất cả mọi người. Đội ngũ SciMet nhận ra rằng việc tạo cơ hội cho kiến thức trong sách vở được liên kết với chủ đề thực tiễn trong cuộc sống là rất quan trọng. Với tốc độ phát triển khoa học công nghệ của toàn thế giới, nâng cao nhận thức về tầm quan trọng của nghiên cứu khoa học và lan tỏa đam mê này tới  thế hệ trẻ Việt Nam là điều cần thiết hiện nay.  Điều này, thúc đẩy chúng tôi thành lập ra tổ chức SciMet với mục tiêu là cầu nối mang những cuộc nói chuyện trực tiếp với các nhà khoa học trong mọi lĩnh vực tới gần hơn với các em học sinh. </p>
            </div>
        </div>
    </div>
    
</div>


@* Program *@

<div class="program" id="program-id">
    <div class="row header p-3 justify-content-center">Chương Trình</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="card text-center">
            <img src="~/img/program-img.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Chương trình trao đổi, gặp gỡ các nhà khoa học theo nhóm hoặc cá nhân là khởi điểm và cũng là trọng tâm chính của SciMet. Các cá nhân học sinh hoặc nhóm học sinh có thể đăng ký gặp gỡ các nhà khoa học theo lĩnh vực yêu thích. Học sinh có thể yêu cầu gặp từ 1-3 nhà khoa học trong cùng 1 lĩnh vực và có thể gặp các nhà khoa học từ nhiều lĩnh vực khác nhau trong những buổi nói chuyện khác. Nếu người tham gia cảm thấy thoải mái với việc trao đổi với nhà khoa học trong nhóm 3 - 5 người, chúng tôi có thể ghép những người có chung yêu cầu lại với nhau. Chương trình này sẽ giúp các bạn học sinh học hỏi được nhiều về lĩnh vực mình quan tâm.</p>
            </div>
            <div class = "button">
                <a href="#" class="btn btn-primary">THAM GIA</a>
            </div>
        </div>
    </div>
</div>

