@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@* Introduction *@

<div class = "introduction" id="introduction" >
    <div class = "introduction-content row">
        <div class="col-2 needwhite"><img class="logo" src="~/img/LOGO.png" alt=""></div>
        <div class="col"><img class="cover-img" src="~/img/cover11.png" alt=""></div>
        <div class="col"><img class="cover-img" src="~/img/cover2.png" alt=""></div>
        <div class="col"><img class="cover-img" src="~/img/cover3.png" alt="" style="width:130%"></div>
    </div>
    <div class = "introduction-content row">
        <div class="header col">.......</div>
        <div class="row non-header">Trò Chuyện Trực Tiếp Với Các Nhà Nghiên Cứu Thuộc Mọi Lĩnh Vực</div>
    </div>
</div>

@* Mission *@
@* <div class="mission" id="mission-id">
    <div class="row header p-3 justify-content-center">Nhiệm Vụ</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="card text-center border-0">
            <div class="card-body">
                <h5 class="card-title non-header">Sứ Mệnh</h5>
                <p class="card-text non-header">Xây dựng hệ thống kết nối những cá nhân, tập thể với các nhà khoa học trong ngành. Thúc đẩy định hướng nghề nghiệp các ngành STEM tại Việt Nam</p>
            </div>
        </div>
        <div class="card text-center border-0">
            <div class="card-body">
                <h5 class="card-title non-header">Tầm nhìn</h5>
                <p class="card-text non-header">Xây dựng một công cụ hỗ trợ nhà trường và phụ huynh trong giáo dục STEM. Phát triển truyền thông khoa học, đưa kiến thức khoa học trở nên dễ hiểu và gần gũi hơn tới công chú</p>
            </div>
        </div>
    </div>
</div> *@

@* About us *@

<div class="about-us" id="about-us-id">
    <div class="row header p-3 justify-content-center">SciMet đưa khoa học tới gần hơn với mọi người</div>
    <div class="row p-5">
        <div class="card border-0">
            <div class="card-body">
                <p class="card-text non-header">SciMet mang nghiên cứu khoa học tới gần hơn với tất cả mọi người thông qua các buổi nói chuyện trực tuyến với các nhà khoa học. SciMet hợp tác với rất nhiều nhà khoa học thuộc mọi lĩnh vực và kết nối họ với các cá nhân, tổ chức quan tâm. Tham gia cùng SciMet để hiểu hơn về câu chuyện đằng sau các nhà khoa học và tìm kiếm câu trả lời cho các câu hỏi của bạn từ chính những chuyên gia trong ngành </p>
            </div>
        </div>
        <div class="card text-center border-0 col">
            <div class="card-body alingn">
                <a href="#" class="btn btn-primary button">THAM GIA NGAY</a>
            </div>
        </div>
    </div>
    
</div>


@* Program *@

<div class="program" id="program-id">
    <div class="row header p-3 justify-content-center">Chương Trình</div>
    <div class="row justify-content-center p-5 align-items-center">
        <div class="card border-0 text-center align-items-center">
            <img src="~/img/program1.png" class="card-img-top" alt="..." id="image1">
            <div class="card-body">
                <h5 class="card-title">Vui hè cùng SciMet</h5>
                <p class="card-text">Trải nghiệm một mùa hè bổ ích với nguồn kiến thức từ những buổi nói chuyện với các nhà khoa học</p>
            </div>
            <div class = "button">
                <a href="#"  class="btn btn-primary">XEM THÊM</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center p-5 card-bot" style="margin-top:-5%">
        <div class="card border-0 text-center card-bottom">
            <img src="~/img/program2.png" class="card-img-top" alt="..." id="image2">
            <div class="card-body">
                <h5 class="card-title">Đồng hành cùng câu lạc bộ STEM</h5>
                <p class="card-text">Hợp tác tổ chức hoạt động cùng câu lạc bộ STEM thuộc các trường học</p>
            </div>
            <div class = "button">
                <a href="#"  class="btn btn-primary">XEM THÊM</a>
            </div>
        </div>
        <div class="card border-0 text-center card-bottom">
            <img src="~/img/program3.jpg" class="card-img-top" alt="..." id="image3">
            <div class="card-body">
                <h5 class="card-title">Nguồn tài liệu STEM</h5>
                <p class="card-text">Cung cấp các tài liệu giáo dục STEM miễn phí</p>
            </div>
            <div class = "button">
                <a href="#"  class="btn btn-primary">XEM THÊM</a>
            </div>
        </div>
    </div>

</div>

@* Subscribe to our Newsletter Form  *@

<div class="subscription">
	<div class="row">
        <div class="text-center">
            <h2 class="header">Đăng ký theo dõi</h2>
            <p class="non-header">Tham gia theo dõi để cập nhập thông tin về những chương trình mới nhất của SciMet nhé!</p>
            <form action="" method="post">
                <div class="row justify-content-center">
                    <input type="text" id="" name="" placeholder="Email" class = "box">
                    <input type="submit" value="ĐĂNG KÝ" class="button" />
                </div>
            </form>
        </div>    
	</div>
</div>

