@page
@model IndexModel
@{
    ViewData["Title"] = "Vision";
}
<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/mission.css" asp-append-version="true" />



@* Vision *@

<div class="mission">
    <div class="row header p-3 justify-content-center">Sứ mệnh</div>
    <div class="row body">
        <div class="image col-md-4 col-sm-12 text-center justify-content-center align-items-center">
            <img src="~/img/mission1.png" class="card-img-top" alt="..." id="image1">
        </div>
        <div class="text col-md col-sm-12">
            <div class="paragraph">
                <div class="title">Nuôi dưỡng và định hướng đam mê khoa học của thế hệ trẻ Việt Nam</div>
                <p class="non-header">SciMet mong muốn được đóng góp vào sứ mệnh nuôi dưỡng định hướng cho thế hệ trẻ nhà khoa học tương lai của Việt Nam.</p>
            </div>
            <div class="paragraph">
                <div class="title">Xây dựng hệ thống kết nối những cá nhân, tập thể có nhu cầu trao đổi kiến thức khoa học với các nhà</div>
                <p class="non-header">SciMet hy vọng có thể hợp tác với các câu lạc bộ khoa học, trường học, tổ chức để có thể nhân rộng hình thức nói chuyện với các nhà khoa học rộng rãi. Qua đó việc học khoa học sẽ trở nên thực tiễn và thú vị hơn.</p>
            </div>
            <div class="paragraph">
                <div class="title">Thúc đẩy định hướng nghề nghiệp các ngành STEM tại Việt Nam</div>
                <p class="non-header">SciMet nhận thức được tầm quan trọng curac các ngành STEM trên con đường hiện đại hóa, hội nhập hóa của Việt Nam. SciMet mong rằng với nguồn tài nguyên mà SciMet mang lại, Việt Nam sẽ có một thế hệ được ươm mầm đam mê khoa học từ sớm và được chuẩn bị đầy đủ kĩ năng, kiến thức trên con đường phát triển sự nghiệp.</p>
            </div>
            <div class="paragraph">
                <div class="title">Phát triển truyền thông khoa học tại Việt Nam, để kiến thức khoa học trở nên gần gũi và dễ hiểu với</div>
                <p class="non-header">Truyền thông khoa học là một nhân tố quan trọng để ngăn chặn tin tức phản khoa học và giúp công chúng hiểu hơn về tầm quan trọng của nghiên cứu khoa học trong cuộc sống. Tuy nhiên, truyền thông khoa học vẫn chưa thực sự được quan tâm và đầu tư tại Việt Nam. SciMet mong muốn được góp phần đưa kiến thức khoa học trở nên gần gũi hơn với công chúng.</p>
            </div>
            <div class="paragraph">
                <div class="title">Tạo mạng lưới kết nối những nhà khoa học Việt Nam với đam mê chia sẻ kiến thức khoa học</div>
                <p class="non-header">SciMet tin rằng những nhà khoa học Việt dù đang học tập và làm việc ở đâu cũng đều mong muốn được đóng góp công sức của mình cho sự phát triển khoa học của đất nước. Bên cạnh phương thức đóng góp trực tiếp, SciMet nhận thấy đào tạo và phát huy tiềm năng của thế hệ tương lai cũng là một cách tạo đà cho sự phát triển khoa học tại Việt Nam trong tương lai. Chính vì vậy, SciMet mong muốn trở thành cây cầu kết nối những nhà khoa học Việt Nam tài năng có cùng chung định hướng và mục tiêu đấy.</p>
            </div>
        </div>
    </div>
</div>